div#login {
    margin-top: 20vh;
}

.header {
    margin-bottom: 2em;
}

.color-ligth-blue {
    color: turquoise;
}

.btn-ligth-blue {
    font-weight: bold;
    color: #545454;
    background-color: turquoise;
    border-color: turquoise;
}

.btn-ligth-blue-invert {
    font-weight: bold;
    color: #40e0d0;
    background-color: #545454;
    border-color: #545454;
}

.au-task-list {
    height: 40vh!important;
}